<style>
  body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cb/63/5b/cb635b1ac24dcd5cd999daafb582ee13.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 2000px 900px
  
  }
  
h1, h2 {
  display: block;
  background: #fff;
}
h1 {
  font-size: 34px
}
h2 {
  font-size: 15.9px;
}
span {
  background: #0fd;
}
</style>
<h1>Welcome to Vander High Scool <span></span></h1><br>
<h1>About Vander </h1><br>
<h2>Since the school has been built, we have undergone a major expansion of our facilities:in 1995,we added 27.5 acres of land that was developed into activity and athletic fields; in 1999 we renovated the Fassbender Field concession stand building, and recently updated our cafeteria facilities. We are excited to announce that construction of a 20,000 square-foot building addition is complete. The addition includes seven new state-of-the-art combination science classroom/laboratories and an engineering classroom. Renovation of the current science department allowed expansion of the guidance department and turned former science rooms into regular classrooms. We also offer successful spiritual, academic, and co-curricular programs that continue to grow. Whether we are expanding our curriculum or our facilities, we at Vander are always working to extend our capacity for educating the leaders of tomorrow.
There has never been a better time to become a part of the  . Each year we update and expand technology in our classrooms, we extend the amount of financial assistance (almost $300,000 for 2013-14) available to our families, and our athletic and other co-curricular programs continue to thrive. Marian Central welcomes nearly 700 students each day, yet we exist as a comfortable and friendly community where students are valued and educated as whole persons. Classes are small enough for students to get to know each other, yet our student body is large enough that we can offer a varied and challenging curriculum. Teachers and staff are dedicated to the intellectual, physical, spiritual, and emotional growth of every student, and they strive to provide the attention, nurturing, and support necessary for a successful high school career.
However, academics are only a part of the curriculum at Vander. All year long Vander encourages its students to participate in volunteer work and offers opportunities for students to contribute their talents and time to charities through extracurricular organizations such as Project Hope, Operation Snowball, Student Council, Key Club, and the National Honor Society. Vander calls its students to be supportive, caring individuals in the classroom, on the stage, on the athletic fields and courts, and in the community.<h2/><br>
<h1>Operation Snowball</h1>
<br>
<h2>Operation Snowball is an alcohol and other drug use prevention program based in Springfield, Illinois focusing on leadership development to empower youth to lead drug-free lives. Operation Snowball is founded on the belief that youth and adults can make responsible decisions when provided with factual information and an opportunity to develop an understanding of one’s self and motivations</h2>
<h1>Project Hope</h1>
<br>
<h2>Project H.O.P.E. (Health Occupations Preparatory Experience) is a four-week, paid summer internship program offered to high school students at health care facilities within the student’s local community.  Students who are first-generation college bound, from rural areas, or from populations that are under-represented in the health professions are encouraged to apply.  Student interns rotate through several settings within one facility to gain maximum exposure to a variety of health professions.</h2>
<h1>Athletics Program</h1><br>
<h2><ul>
<h1>Fall</h1>
<li>Cross Country </li>
<li>Football</li>
<li>Golf</li>
<li>Soccer</li>
</ul>
<br>
<ul>
<h1>Winter</h1>
<li>Basketball</li>
<li>Wrestling</li>
</ul>
<br>
<ul>
<h1>Spring</h1>
<li>Baseball</li>
<li>Tennis</li>
<li>Track & Field</li>
<li>soccer</li>
<li>Softball</li>
<li>Cross Country</li>
</ul><br>
<ul>
<h1>All Year</h1>
<li>Dance Team</li>
<li>Cheer</li>
<h1>Dress code</h1><br>
The following are examples, but not limited to, clothing items which are not acceptable to wear to school:
<li>Clothing or jewelry with writing, pictures, symbols, or slogans depicting drugs, tobacco, alcohol (or their manufacturers), obscenities,
vulgarity, racism, gangs, or sexual innuendo.</li>
<li>Immodest clothing, including clothing that exposes undergarments, beach or swimming attire. That means no low tops, bare
midriffs, or spaghetti straps may be worn. Shoulders need to be covered by at least a 2” strap. The hem of the skirt should reach
mid-thigh. Pants are to be pulled up to the upper hip or waist and fastened so that they will remain in that position.</li>
<li>Slippers or bare feet. Shoes must be worn at all times.</li>
<li>Special Note: Body piercing, with the exception of ears, and tattooing are illegal under age of 16 per Administrative Code
NFS 173.04. Piercings must be removed if they cause disruptions or interfere with educational process.</li>

